<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.alfred.stephenc.wordcharcount</string>
	<key>connections</key>
	<dict>
		<key>09972F6A-AE40-4B4C-8880-B632478A7CAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>645F6DE3-586C-4C79-99FC-FE9FB8819591</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13A14BD1-5863-4BA2-AE25-6A7772D16F39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60531D62-E68F-44C1-862F-43E1689EEEEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60531D62-E68F-44C1-862F-43E1689EEEEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAAAFDA5-DA25-4F5C-A7EC-5D9FBAE44974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>645F6DE3-586C-4C79-99FC-FE9FB8819591</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF0AFB89-59D4-4303-8D76-B1E08055A855</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AD069FD-6249-4FF1-8384-83024BD91710</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D214F710-337A-4880-99AD-BB804C800E58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF0AFB89-59D4-4303-8D76-B1E08055A855</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01F211DC-11F2-4747-ABA3-45D43090E83C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D214F710-337A-4880-99AD-BB804C800E58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A14BD1-5863-4BA2-AE25-6A7772D16F39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5D7021E-2777-45A5-87F0-E89E08AA218B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AD069FD-6249-4FF1-8384-83024BD91710</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAAAFDA5-DA25-4F5C-A7EC-5D9FBAE44974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09972F6A-AE40-4B4C-8880-B632478A7CAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Display word and character count of selected text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Word and character count</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>metric</key>
					<string>characters</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.metrics</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>EAAAFDA5-DA25-4F5C-A7EC-5D9FBAE44974</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Word and character count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E5D7021E-2777-45A5-87F0-E89E08AA218B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.metrics</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D214F710-337A-4880-99AD-BB804C800E58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The numbers of words ({var:wordCount}) and characters ({var:charCount}) have been copied to the clipboard.</string>
				<key>title</key>
				<string>Word &amp; character count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>01F211DC-11F2-4747-ABA3-45D43090E83C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>Words: {var:wordCount}
Characters: {var:charCount}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CF0AFB89-59D4-4303-8D76-B1E08055A855</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Quit the workflow</string>
				<key>button2</key>
				<string>Copy result to clipboard</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>The selected text contains {var:wordCount} words and {var:charCount} characters.

What would you like to do next?</string>
				<key>title</key>
				<string>Word &amp; character count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>645F6DE3-586C-4C79-99FC-FE9FB8819591</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theText}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>60531D62-E68F-44C1-862F-43E1689EEEEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>charCount</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>09972F6A-AE40-4B4C-8880-B632478A7CAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>wordCount</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>13A14BD1-5863-4BA2-AE25-6A7772D16F39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>theText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8AD069FD-6249-4FF1-8384-83024BD91710</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage

This Universal Action is available for selected text and returns the word count and character count in a dialog box. 

![Word and character count](Images/UA.png)

![Word and character count](Images/Result.png)

There is an option to copy the result to the clipboard.

---
**Note:** If you have not previously used `Automation Tasks` in any Alfred workflow you may need to double click on an `Automation Task` in this workflow and then `Options` at the bottom of the left hand pane followed by `Reinstall Tasks` to ensure tasks are up to date.
---
**Version 2.0** 18/05/2023: substantial revision to show *both* word and character counts (rather than offering them as alternatives).</string>
	<key>uidata</key>
	<dict>
		<key>01F211DC-11F2-4747-ABA3-45D43090E83C</key>
		<dict>
			<key>note</key>
			<string>…and confirm it's done so</string>
			<key>xpos</key>
			<real>1295</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>09972F6A-AE40-4B4C-8880-B632478A7CAC</key>
		<dict>
			<key>note</key>
			<string>Save character count as variable</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>13A14BD1-5863-4BA2-AE25-6A7772D16F39</key>
		<dict>
			<key>note</key>
			<string>Save word count as variable</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>60531D62-E68F-44C1-862F-43E1689EEEEF</key>
		<dict>
			<key>note</key>
			<string>Feed the text (1)</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>645F6DE3-586C-4C79-99FC-FE9FB8819591</key>
		<dict>
			<key>note</key>
			<string>Quit or copy to clipboard</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>8AD069FD-6249-4FF1-8384-83024BD91710</key>
		<dict>
			<key>note</key>
			<string>Save the text as a variable (1)</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>CF0AFB89-59D4-4303-8D76-B1E08055A855</key>
		<dict>
			<key>note</key>
			<string>Copy count to clipboard…</string>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>D214F710-337A-4880-99AD-BB804C800E58</key>
		<dict>
			<key>note</key>
			<string>Automation Task to get word count</string>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E5D7021E-2777-45A5-87F0-E89E08AA218B</key>
		<dict>
			<key>note</key>
			<string>Universal Action on selected text</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>EAAAFDA5-DA25-4F5C-A7EC-5D9FBAE44974</key>
		<dict>
			<key>note</key>
			<string>Automation Task to get character count</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
