# MAC
.DS_Store
*.icloud

# Logs
*.log

# production stuff / builds
node_modules
.venv
__pycache__
*.pyc
*.alfredworkflow
*.dmg
vscode/extensions/*
!vscode/extensions/extensions.json


# Microsoft Office temporary files
~$*.docx
~$*.xlsx
~$*.pptx

# safety net to prevent sensitive data being accidentally moved
*.kdb
*.kdbx
*.pfx
*.key
.*_history

# alfred settings with secrets
alfred/Alfred.alfredpreferences/workflows/user.workflow.9EC67259-0811-4749-9385-1E79E03FA358/prefs.plist
alfred/Alfred.alfredpreferences/workflows/user.workflow.9F1A82EF-EA61-4C1C-91BE-3266FF7404A7/prefs.plist
