[project]
name = "{{repo_name}}"
version = "0.1.0"
description = "{{description}}"
authors = [
 {%- for _, author in project_authors.items() %}
  { name = "{{author.name}}", email = "{{author.email}}"},
  {%- endfor %}
]
readme = "README.md"

requires-python = ">=3.10"

dependencies = [
]

[dependency-groups]
dev = [
  "debugpy~=1.8.8",
  "ipdb~=0.13.13",
  "ipykernel~=6.29.5",
  "jupyter~=1.0.0",
  "mypy>=1.15.0",
  "notebook~=7.2.1",
  "pre-commit>=4.2.0",
  "pylint~=3.2.5",
  "pytest~=7.4.2",
  "ruff~=0.11.0",
  "mkdocs-material~=9.0.0",
]

build = ["python-semantic-release ~= 10.0"]

[tool.uv]
package = true

[tool.ruff]
extend-include = ["*.ipynb"]

[tool.ruff.lint]
select = [
  "ALL"
]
ignore = ["D104", "D100", "E501"]

[tool.ruff.lint.per-file-ignores]
"tests/**" = ["S101", "PLR2004", "D103"]

[tool.semantic_release]
version_toml = ["pyproject.toml:project.version"]
build_command = """
  uv lock
  uv build
"""

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease = false
changelog = true

[tool.semantic_release.branches.dev]
match = "dev"
prerelease = true
changelog = true

[changelog.default_templates.changelog_file]
changelog_file = "CHANGELOG.md"

[build-system]
requires = ["uv_build>=0.7.20,<0.8.0"]
build-backend = "uv_build"
