from pathlib import Path

from {{package_name}}.utils.config import (
    DATA_DIR,
    OUTPUT_DIR,
    PROCESSED_DIR,
    RAW_DIR,
    STATIC_DIR,
)


def get_root_path() -> Path:
    """Automatically detect the full path leading to the repo folder.

    Assuming directory structure is:
            /this/project/path/repo_name/package/this_module.py
    Return:
            /path/to/this/project/repo_name
    """
    module_path = Path(__file__).resolve()
    package_path = module_path.parent
    return package_path.parent


def get_project_path(*lower_paths: str | Path) -> Path:
    """Return project path.

    If repo directory is
    `/path/to/repo/project`
    and `lower_paths` is `file.txt`
    then return
    `/path/to/repo/project/file.txt`

    Alternatively, if `lower_paths` is ["subfolder", "file.txt"]
    then return
    `/path/to/repo/project/subfolder/file.txt`
    etc for any number of subfolder layers.
    """
    root = get_root_path()
    return root.joinpath(*lower_paths)


def get_static_path(*lower_paths: str | Path) -> Path:
    """Get path to static folder."""
    return get_project_path(STATIC_DIR, *lower_paths)


def get_raw_path(*lower_paths: str | Path) -> Path:
    """Get path to raw folder."""
    return get_project_path(DATA_DIR, RAW_DIR, *lower_paths)


def get_processed_path(*lower_paths: str | Path) -> Path:
    """Get path to processed folder."""
    return get_project_path(DATA_DIR, PROCESSED_DIR, *lower_paths)


def get_output_path(*lower_paths: str | Path) -> Path:
    """Get path to output folder."""
    return get_project_path(DATA_DIR, OUTPUT_DIR, *lower_paths)
