<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>05342402-15C7-4F9A-BDE5-62496A9C935B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F6F36CF-F954-4F0B-8D12-DB836B55AB83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23AB9A94-D754-4002-95EF-EBD5E7AB4D48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED2CB26A-A154-49A2-AE96-6B7F6A75FD2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3071E6EE-8081-4018-A26D-283EF22EAEF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79D42316-9563-4164-BAC8-88F74FD2250C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pandoc</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd /Users/tim/Documents/Wissensmanagement/Pandoc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9F6F36CF-F954-4F0B-8D12-DB836B55AB83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pandoc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Pandoc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05342402-15C7-4F9A-BDE5-62496A9C935B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Pandoc docx to markdown</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>23AB9A94-D754-4002-95EF-EBD5E7AB4D48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>argv="{query}"

echo -n $query

export PATH=/usr/local/bin:$PATH

export LC_CTYPE=C
export LANG=C

filename=`sed -e "s/.*\/\(.*\.docx$\)/\1/"&lt;&lt;&lt;"$argv"`
path=`sed -e "s/\(\/.*\)\/.*\.docx$/\1/"&lt;&lt;&lt;"$argv"`

cd "$path"

pandoc "$argv" --track-changes=all --wrap=none -t markdown -o "$filename".md</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED2CB26A-A154-49A2-AE96-6B7F6A75FD2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert Live Citations to Markdown</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3071E6EE-8081-4018-A26D-283EF22EAEF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>query="{query}"

/Users/tim/Documents/Wissensmanagement/Pandoc/convert_live-citations.py /Users/tim/Zotero/better-bibtex-search.sqlite $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79D42316-9563-4164-BAC8-88F74FD2250C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05342402-15C7-4F9A-BDE5-62496A9C935B</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>23AB9A94-D754-4002-95EF-EBD5E7AB4D48</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>3071E6EE-8081-4018-A26D-283EF22EAEF2</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>79D42316-9563-4164-BAC8-88F74FD2250C</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>9F6F36CF-F954-4F0B-8D12-DB836B55AB83</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>ED2CB26A-A154-49A2-AE96-6B7F6A75FD2A</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
